.select {
  margin-bottom: 10px;
  border: 1px solid var(--third-color);
  border-radius: 7px;
  height: 40px;
  padding: 8px 12px;
  background-color: var(--white-color);
  font-size: var(--font-small);
}

.select--multiple {
  height: 60px;
}

.select:focus-within {
  outline: 1px solid var(--third-color);
}
