:root {
  /* Variables */
  /* Colors */
  --background-color: #f9f6fa; /* 3 */
  --text-color: #270133; /* 5 */
  --primary-color: #b47bc7; /* 1 */
  --secondary-color: #7e3e94; /* 2 */
  --third-color: #4e1561; /* 4 */
  --white-color: #ffffff;
  --warning-color: rgba(255, 0, 0, 0.5);
  /* Fonts */
  /* --font-tiny: xxpx; */
  --font-small: 14px;
  --font-normal: 16px;
  /* --font-large: xxpx; */
  /* --font-huge: xxpx; */

  /* Default Settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* 1 - 2 - 3 - 4 - 5 */
