:root {
  /* Variables */
  --background-color: #f9f6fa;
  --text-color: #270133;
  --primary-color: #b47bc7;
  --secondary-color: #7e3e94;
  --third-color: #4e1561;
  --warning-color: rgba(255, 0, 0, 0.5);

  /* Default Settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
